server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/campuscoin?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    session:
      timeout: 30m

logging:
  level:
    root: INFO
